*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/runConfigurations.xml
app/libs/
app/src/main/java/com/kh/companyfood/presenter/main/

